@font-face {
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	src: url('fonts/Art. Lebedev Studio - ALSSchlangesans-Bold.eot');
	src: local('☺'), url('fonts/Art. Lebedev Studio - ALSSchlangesans-Bold.woff') format('woff'), url('fonts/Art. Lebedev Studio - ALSSchlangesans-Bold.ttf') format('truetype'), url('fonts/Art. Lebedev Studio - ALSSchlangesans-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans';
	src: url('fonts/Art. Lebedev Studio - ALSSchlangesans.eot');
	src: local('☺'), url('fonts/Art. Lebedev Studio - ALSSchlangesans.woff') format('woff'), url('fonts/Art. Lebedev Studio - ALSSchlangesans.ttf') format('truetype'), url('fonts/Art. Lebedev Studio - ALSSchlangesans.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-family: 'Times New Roman';
	font-size: 60px;
	font-weight: normal;
	margin-top: 42px;
	margin-bottom: 27px;
}

h2 {
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	font-size: 18px;
}

h3 {
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	font-size: 24px;
	text-align: center;
}

img.logo {
	margin: 12px 12px 12px 0;
}

.splash {
	background-image: url('../img/splash.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	height: 405px;
}

.index-buttons {
	margin-top: 286px;
}

ul.mainmenu {
	margin: 0;
	list-style: none;
	margin-top: 54px;
}

ul.mainmenu li {
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	font-size: 18px;
	float: left;
	margin-right: 15px;
}

.mainmenu li a {
	color: #000;
}

ul.mainmenu li.item1 a {
	border-bottom: 1px solid #b2d000;
}

ul.mainmenu li.item2 a {
	border-bottom: 1px solid #fa4e0b;
}

ul.mainmenu li.item3 a {
	border-bottom: 1px solid #4fafeb;
}

ul.mainmenu li.item4 a {
	border-bottom: 1px solid #fdb201;
}

ul.mainmenu li.item1 a:hover, ul.mainmenu li.item1 a.active {
	color: #b2d000;
	border-bottom: 0;
}

ul.mainmenu li.item2 a:hover, ul.mainmenu li.item2 a.active {
	color: #fa4e0b;
	border-bottom: 0;
}

ul.mainmenu li.item3 a:hover, ul.mainmenu li.item3 a.active{
	color: #4fafeb;
	border-bottom: 0;
}

ul.mainmenu li.item4 a:hover, ul.mainmenu li.item4 a.active {
	color: #fdb201;
	border-bottom: 0;
}

.mainmenu li a:hover {
	text-decoration: none;
}

.poker-line {
	height: 3px;
	background-image: url(../img/bg.png);
	background-repeat: repeat-x;
	background-position: top left;
}

.index-news-container {
	padding-top: 50px;
}

ul.index-news {
	list-style: none;
	margin: 0 0 40px;
	padding: 0;
	font-size: 13px;
}

ul.index-news li {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	line-height: 16px;
}

ul.index-news span.date {
	color: #b2d000;
}

.index-members {
	text-align: center;
	list-style: none;
	margin: 20px 0 25px;
	padding: 0;
}

.index-members li {
	margin: 0 10px;
	display: inline-block;
}

.index-members li img {
	border-radius: 51px;
	width: 100px;
}

ul.footer-menu {
	list-style: none;
	margin: 55px 0 0 30px;
	padding: 0;
}

ul.footer-menu li {
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans';
	display: inline-block;
	margin-right: 1px;
}

ul.footer-menu li a {
	text-transform: uppercase;
	color: #666;
}

ul.footer-menu a:hover {
	color: #333;
}

.footer-logo {
	text-align: center;
}

img.footer-logo {
	height: 80px; 
	margin: 25px 0;
}

.header-right {
	padding: 50px 0 0;
	text-align: right;
}

.footer-right {
	padding: 50px 30px 0 0;
	text-align: right;
}

.login-widget {
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans';
	text-transform: uppercase;
}

ul.login-menu {
	display: inline-block;
	list-style: none;
	margin: 0;
}

ul.login-menu li {
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans';
	display: inline-block;
}

.login-menu a {
	text-transform: uppercase;
	color: #666;
}

.login-menu a:hover {
	color: #333;
}

hr.red-line {
	margin: 20px 40px;
	border-top: 0;
	border-bottom: 1px solid #fb4e0c;
}

.btn {
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 16px;
}

.btn-warning {
	color: #000;
	text-shadow: none;
	border-color: #fdb200;
	background-color: #fdb200;
	background-image: none;
}

.btn-success {
	color: #000;
	text-shadow: none;
	border-color: #b2d000;
	background-color: #b2d000;
	background-image: none;
}

.btn-primary {
	color: #000;
	text-shadow: none;
	border-color: #4fafeb;
	background-color: #4fafeb;
	background-image: none;
}

.btn-danger {
	color: #000;
	text-shadow: none;
	border-color: #fb4e0c;
	background-color: #fb4e0c;
	background-image: none;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active {
	border-color: #fd6c01;
	background-color: #fd6c01;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
	border-color: #60aa00;
	background-color: #60aa00;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
	border-color: #1276b5;
	background-color: #1276b5;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
	border-color: #dc1f00;
	background-color: #dc1f00;
}

.btn-warning.disabled, .btn-warning[disabled] {
	border-color: #c2c2c2;
	background-color: #c2c2c2;
	color: #000;
}

.btn-success.disabled, .btn-success[disabled] {
	border-color: #c2c2c2;
	background-color: #c2c2c2;
	color: #000;
}

.btn-primary.disabled, .btn-primary[disabled] {
	border-color: #c2c2c2;
	background-color: #c2c2c2;
	color: #000;
}

.btn-danger.disabled, .btn-danger[disabled] {
	border-color: #c2c2c2;
	background-color: #c2c2c2;
	color: #000;
}

.btn small {
	display: block;
}

.btn-large {
	margin-right: 4px;
	padding: 11px 28px 6px;
	text-transform: uppercase;
	font-size: 18px;
}

.btn-large small {
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans';
	font-size: 15px;
	text-transform: none;
}

.alert {
	padding: 8px 35px 8px 0;
	margin-bottom: 20px;
	text-shadow: none;
	background-color: transparent;
	border: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.alert, .alert h4 {
	color: #c09853;
}

.alert-danger, .alert-error {
	color: #fb4e0c;
	background-color: transparent;
	border-color: transparent;
}

.alert-success {
	color: #b2d000;
	background-color: transparent;
	border-color: transparent;
}

.prize {
	text-align: center;
}

.prize img {
	margin-bottom: 20px;
}

.prize .title {
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	font-size: 18px;
	text-transform: uppercase;
}

.prize .blue {
	color: #4fafeb;
}

.prize .green {
	color: #b2d000;
}

.prize .red {
	color: #fb4e0c;
}

.prize .description {
	padding-top: 20px;
	margin-bottom: 50px;
}

.accordion-group {
	border: 0;
}

.accordion-heading {
	padding: 8px 0;
}

.accordion-heading .accordion-toggle {
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	font-size: 18px;
	border-bottom: 1px solid #b2d000;
	padding: 0 0;
	color: #000;
	display: inline;
}

.accordion-heading .accordion-toggle:hover {
	border-bottom: 0;
	color: #b2d000;
	text-decoration: none;
}

.accordion-inner {
	padding-left: 30px;
	border: 0;
}

.user-card {
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	padding-top: 10px;
	padding-bottom: 45px;
}

.user-center {
	padding-left: 30px;
}

.user-avatar img {
	border-radius: 101px;
}

.user-info {
	padding: 20px 0 0 20px;
	list-style: none;
	line-height: 20px;
}

.user-info li {
	margin-bottom: 15px;
}

.user-info li img {
	margin-right: 5px;
}

.user-name {
	font-size: 34px;
	color: #b2d000;
	line-height: 45px;
	margin-bottom: 15px;
}

.user-like {

}

.user-like img {
	
	margin-left: 10px;
	margin-right: 5px;
}

.user-data {
	margin: 20px 0 0;
	list-style: none;
	color: #b2d000;
}

.user-data li {
	margin-bottom: 15px;
}

.user-data li span {
	display: inline-block;
	width: 100px;
	color: #000;
}

.user-progress {
	margin-top: 20px;
	border: 2px solid #fdb201;
	border-radius: 20px;
	list-style: none;
	padding: 20px 20px 15px;
	width: 220px;
}

.user-progress li {
	margin-bottom: 5px;
}

.user-progress li img {
	margin-right: 5px;
}

.user-link {
	color: #000;
	font-size: 16px;
	border-bottom: 1px solid #b2d000;
}

.user-link:hover {
	color: #b2d000;
	font-size: 16px;
	border-bottom: 0;
	text-decoration: none;
}

.register-card {
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	font-size: 18px;
}

.register-title {
	margin-bottom: 10px;
}

.register-title span {
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans';
}

.register-field {
	margin-bottom: 10px;
}

.register-field select {
    font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
    padding: 4px 25px;
    width: 430px;
	height: 49px !important;
	font-size: 16px;
	line-height: 16px; 
	margin: 0 0 10px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
	border: none;
    border-radius: 25px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #ffffff;
    color:#333;
    border: 3px solid #b2d000;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
	text-indent: 0.01px;
    text-overflow: '';
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

@-moz-document url-prefix() { 
	.register-field select {
	   padding-top: 12px;
	}
}

.register-field label {position:relative}
.register-field label:after {
    content: '>';
    font: 18px 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold'; 
    color: #000;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 60px; 
	top: 15px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
}
.register-field label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#fff;
    position:absolute;
    pointer-events:none;
    display:block;
}

.register-field input[type=text], .register-field input[type=password] {
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	width: 375px;
	border: 3px solid #b2d000;
	border-radius: 25px;
	height: 35px;
	padding: 4px 25px;
	font-size: 16px;
	line-height: 16px;
}

.register-avatar {
	position: relative;
	width:200px;
	height:200px;
	border:3px solid #b2d000;
	border-radius: 101px;
	background-image: url('../img/avatar_register.png');
	background-position: top center;
	background-repeat: no-repeat;
}

.register-avatar .remove-icon {
	width: 200px;
	display: none;
	position: absolute;
	top: 0;
	color: #fb4e0c;
	font-size: 50px;
	z-index: 900;
}

.register-avatar .remove-icon:hover {
	color: #000;
	text-decoration: none;
}

.register-avatar input[type=file] {
	position: absolute;
	left: 0;
	top: 0;
	opacity:0;
	filter:alpha(opacity:0);
	height: 100%;
	width: 100%;
	cursor: pointer;
	border-radius: 101px;
}

.register-avatar span.file-label {
	position: absolute;
	display: block;
	margin: 85px 20px;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;
	color: #666;
}

.register-avatar span.file-title {
	position:absolute;
	top: 0;
	left: 0;
	width: 200px;
	border-radius: 101px;
	padding: 0 0;
	line-height: 200px;
	text-align: center;
	background-image: url('../img/avatar_register.png');
	background-position: top center;
	background-repeat: no-repeat;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: block;
}

.register-button {
	margin: 25px 0 45px;
}

.register-button a {
	margin: 0 0 0 25px;
}
.member {
	padding: 0 0 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #000;
}

.member-common {
	float: left;
	width: 439px;
	height: 105px;
	font-size: 18px;
	line-height: 32px;
}

.member-common img.avatar {
	margin-right: 35px;
	width: 100px;
	border-radius: 51px;
	float: left;
}

.member-info {
	float: left;
	border-left: 1px solid #000;
	padding: 6px 15px;
	display: inline-block;
	width: 132px;
	height: 95px;
}

.member-info ul {
	padding: 0;
	margin: 0;
}

.member-info li {
	list-style: none;
	margin: 0 0 10px;
	padding: 0;
}

.member-progress {
	float: left;
	border-left: 1px solid #000;
	padding: 0 15px;
	text-align: center;
	width: 160px;
	height: 105px;
}

.member-progress ul {
	margin: 5px 0 0;
	padding: 0;
}

.member-progress li {
	list-style: none;
	display: inline-block;
	margin: 0 0 3px 0;
	white-space: nowrap;
}

.member-progress li.single {
	margin: 38px 0 0 0;
}

.member-vote {
	float: left;
	border-left: 1px solid #000;
	padding: 0 0 0 15px;
	width: 100px;
	height: 105px;
}

.member-vote .btn {
	margin-top: 20px;
}

.member-card {
	display: none;
	top: 150px;
	left: 50%;
	width: 800px;
	height: 590px;
	position: fixed;
	margin-left: -400px;
	padding: 15px 15px 15px 60px;
	background-color: #fff;
	box-shadow: 0 0 60px rgba(0,0,0,0.5);
}

.member-card a.close {
	font-size: 80px;
	font-weight: normal;
	color: #333;
}

.member-card h2 {
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 51px;
	font-family: 'Times New Roman';
	font-weight: normal;
}

.member-card-info {
	margin-left: 30px;
	padding: 0;
	list-style: none;
	line-height: 20px;
	font-size: 16px;
}

.member-card-info li {
	margin-bottom: 15px;
}

.member-card-info li img {
	margin-right: 5px;
}

.member-card-name {
	font-size: 34px;
	color: #b2d000;
	line-height: 45px;
	margin-bottom: 15px;
}

.member-card-like {
	margin: 20px 0 50px 30px;
	font-size: 16px;
}

.member-card-like img {
	margin-left: 10px;
	margin-right: 5px;
}

.member-card-data {
	font-size: 16px;
	margin: 20px 0 0;
	list-style: none;
	color: #b2d000;
}

.member-card-data li {
	margin-bottom: 15px;
}

.member-card-data li span {
	display: inline-block;
	width: 100px;
	color: #000;
}

.member-card-progress {
	margin-left: 0;
	margin-top: 20px;
	border: 2px solid #fdb201;
	border-radius: 20px;
	list-style: none;
	padding: 20px 20px 15px 0;
	width: 405px;
	height: 135px
}

.member-card-progress li {
	width: 170px;
	height: 40px;
	float: left;
	margin-bottom: 5px;
	margin-left: 30px;
}

.member-card-progress li img {
	margin-right: 5px;
}

.club-chat {
	margin-top: 30px;
	border-bottom: 1px solid #000;
}

.club-avatar img {
	width: 100px;
	border-radius: 51px;
}

.club-name {
	margin-top: 15px;
	margin-bottom: 30px;
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	color: #b2d000;
	font-size: 16px;
}

.club-name span {
	display: block;
	margin-bottom: 5px;
}

.club-arrow2-container {
	position: relative;
}

.club-arrow2-container .arrow2 {
	position: absolute;
	top: 42px;
	left: -9px;
	background-color: #fff;
	background-image: url(../img/arrow_green.png);
	background-position: top left;
	background-repeat:  no-repeat;
	z-index: 10;
	width: 12px;
	height: 18px;

}

.club-add-message {
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	font-size: 16px;
	margin-bottom: 30px;
}

.club-add-message .text {
	border: 3px solid #b2d000;
	border-radius: 25px;
	height: 100px;
	padding: 25px 30px;
	font-size: 16px;
	line-height: 20px;
	margin: 0 0 15px;
	overflow-y: scroll;
}

.club-add-message .text:focus {
	box-shadow: none;
	transition: none;
	outline: none;
}

.club-add-message a {
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000;
	border-bottom: 1px dashed #4eafea;
	margin-left: 30px;
}

.club-add-message a:hover {
	text-decoration: none;
	color: #4eafea;
	border-bottom: 0;
}

.club-arrow-container {
	position: relative;
}

.club-arrow-container .arrow {
	position: absolute;
	top: 42px;
	left: -12px;
	background-color: #fff;
	border-top: 9px solid #fff;
	border-bottom: 9px solid #fff;
	border-right: 12px solid #f1f1f1;
	border-left: 0;

}

.club-message {
	border-radius: 25px;
	background-color: #f1f1f1;
	margin-bottom: 20px;
	padding: 30px 30px 20px;
}

.club-message .text {
	margin-bottom: 20px;
}

.club-message .date {
	line-height: 30px;
}

.club-message .slogan {
	line-height: 30px;
}

.club-add-comment {
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	font-size: 16px;
	margin-bottom: 30px;
	margin-left: 30px;
}

.club-add-comment input[type=text] {
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	border: 3px solid #b2d000;
	border-radius: 25px;
	height: 50px;
	padding: 4px 25px;
	font-size: 16px;
	line-height: 16px;
	margin: 15px 0;
}

.club-add-comment a {
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000;
	border-bottom: 1px dashed #4eafea;
}

.club-add-comment a:hover {
	text-decoration: none;
	color: #4eafea;
	border-bottom: 0;
}

.club-comment {
	margin-left: 15px;
	margin-bottom: 30px;
	border-top: 1px solid #b2d000;
	padding: 30px 0 0 15px;
}

.club-comment-name {
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	margin: 0 0 10px;
	font-size: 16px;
}

.club-comment-name span {
	color: #b2d000;
}

.club-comment .text {
	margin-bottom: 20px;
}

.club-comment .date {
	line-height: 30px;
	color: #fdb200;
}

.club-comment .slogan {
	line-height: 30px;
	color: #fdb200;
}

.club-show-link {
	text-align: center;
	margin-bottom: 25px;
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	font-size: 16px;
}

.club-show-link a {
	color: #000;
	border-bottom: 1px dashed #b2d000;
}

.club-show-link a:hover {
	color: #b2d000;
	border-bottom: 0;
	text-decoration: none;
}

.club-hide-link {
	position: relative;
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	font-size: 16px;
}

.club-hide-link a {
	top: -50px;
	left: -160px;
	position: absolute;
	color: #000;
	border-bottom: 1px dashed #b2d000;
}

.club-hide-link a:hover {
	color: #b2d000;
	border-bottom: 0;
	text-decoration: none;
}

.text-blue {
	color: #4fafeb;
}

.text-red {
	color: #fa4e0b;
}

.text-green {
	color: #b2d000;
}

.pagination {
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	font-size: 18px;
}

.pagination a {
	margin: 0 5px;
	font-size: 18px;
	color: #000;
	border-bottom: 1px solid #b2d000; 
}

.pagination a:hover {
	text-decoration: none;
	font-size: 18px;
	color: #000;
	border-bottom: 1px solid #b2d000; 
}

.pagination a.active {
	font-size: 24px;
	color: #b2d000;
	border-bottom: 0;
}