body {
	background-image: url(../img/bg.png);
	background-repeat: repeat-x;
	background-position: top left;
	padding-top: 23px;
}

.poker-line {
	height: 3px;
	background-image: url(../img/bg.png);
	background-repeat: repeat-x;
	background-position: top left;
}

.content {
	padding: 20px 0;
}

.footer-menu {
	padding: 50px 0 0 10px;
}

.footer-menu a {
	text-transform: uppercase;
	color: #666;
}

.footer-menu a:hover {
	color: #333;
}

.footer-logo {
	padding: 20px 0;
	text-align: center;
}

.footer-logo img {
	height: 80px; 
}

.footer-login {
	padding: 50px 10px 0;
	text-align: right;
}

.footer-login a {
	text-transform: uppercase;
	color: #666;
}

.footer-login a:hover {
	color: #333;
}

.game-exit {
	padding-top: 10px;
	text-align: right;
}

.game-exit a {
	font-size: 16px;
	border-bottom: 1px dashed #b2d000;
	color: #000;
}

.game-exit a:hover {
	color: #a9a9a9;
	text-decoration: none;
}

.game-time {
	font-family: "Times New Roman";
	font-size: 45px;
	text-align: center;
	line-height: 45px;
	padding-bottom: 150px;
}

.gamer-time {
	font-family: "Times New Roman";
	font-size: 45px;
	text-align: center;
	line-height: 45px;
	padding-bottom: 150px;
}

.game-board {
	height: 285px;
	background-color: #b2d000;
	border: 3px solid #fa4e0c;
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
}

.game-status {
	
}

.gamer-avatar {
	padding-right: 12px;
	padding-bottom: 5px;
}

.gamer-avatar img {
	-webkit-border-radius: 27px;
	   -moz-border-radius: 27px;
	        border-radius: 27px;
}

.gamer-status {
	font-size: 15px;
}

.gamer-status-ready {
	color: #b2d000;
}

.gamer-status-noready {
	color: #a9a9a9;
}

.gamer-name {
	font-size: 15px;
}

.gamer-info {
	margin-left: -20px;
	font-size: 13px;
	padding: 3px 0;
}

.gamer-info img {
	margin: 0 5px;
}

.gamer-chips {
	color: #4fafeb;
}

.gamer-bet {
	color: #fb4e0c;
}

.game-main-bank {
	height:280px;
	width: 33%;
	text-align: center;
	padding-top: 70px;
	float: left;
	font-size: 16px;
	line-height: 32px;
}

.game-min-bet {
	height:280px;
	width: 33%;
	text-align: center;
	padding-top: 110px;
	float: left;
	font-size: 16px;
	line-height: 32px;
}

.game-flop {
	height: 280px;
	text-align: center;
	padding-top: 90px;
	width: 33%;
	float: left;
}

.game-flop-card {
	background-color: #fdb200;
	border: 2px solid #fdb200;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	width: 72px;
	height: 96px;
	float: left;
	margin: 2px;
}

.game-flop-card img {
	width: 72px;
	height: 96px;
}

#bank, #bets, #min_bet {
	font-size: 28px;
}

.game-buttons-container {
	text-align: center;
	position: absolute;
	top: 120px;
	left: 0;
}

.game-arrow {
	text-align: center;
	z-index: 10;
	margin-bottom: -4px;
}

.game-buttons {
	border: 3px solid #a9a9a9;
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
	padding: 10px 20px;
}

.game-buttons .btn {
	width: 99px;
}

#input_bet {
	margin-bottom: 0;
	border: 2px solid #fdb200;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	width: 50px;
	text-align: right;
}

.gamer1 {
	position: absolute;
	top: -30px;
	left: 40px;
	width: 220px;
}

.gamer2 {
	position: absolute;
	top: -415px;
	left: 40px;
	width: 220px;
}

.gamer3 {
	position: absolute;
	top: -415px;
	left: 292px;
	width: 220px;
}

.gamer4 {
	position: absolute;
	top: -415px;
	left: 545px;
	width: 220px;
}

.gamer5 {
	position: absolute;
	top: -30px;
	left: 545px;
	width: 220px;
}

.gamer {
	position: absolute;
	top: -30px;
	left: 290px;
	width: 220px;
}

.gamer-container {
	position: relative;
}

.card {
	width: 41px;
	height: 56px;
	border: 2px solid #fdb200;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	background-color: #fdb200;
	margin: 2px;
	float: left;
}

.gamer-cards {
	height: 60px;
}

#gamer-cards .card {
	cursor: pointer;
}

.active {
	border-color: #fb4e0c;
}

.card img {
	width: 41px;
	height: 56px;
}

.btn {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-warning {
	color: #000;
	text-shadow: none;
	border-color: #fdb200;
	background-color: #fdb200;
	background-image: none;
}

.btn-success {
	color: #000;
	text-shadow: none;
	border-color: #b2d000;
	background-color: #b2d000;
	background-image: none;
}

.btn-primary {
	color: #000;
	text-shadow: none;
	border-color: #4fafeb;
	background-color: #4fafeb;
	background-image: none;
}

.btn-danger {
	color: #000;
	text-shadow: none;
	border-color: #fb4e0c;
	background-color: #fb4e0c;
	background-image: none;
}

.joker-message {
	padding: 10px;
	background-color: #e1e1e1;
	margin-bottom: 10px;
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
}