body {
	background-image: url(../img/bg.png);
	background-repeat: repeat-x;
	background-position: top left;
	padding-top: 20px;
}

.closed {
	display: none;
}

.game-exit {
	white-space: nowrap;
	padding-top: 43px;
	text-align: right;
}

.game-exit a {
	font-size: 16px;
	border-bottom: 1px dashed #b2d000;
	color: #000;
}

.game-exit a:hover {
	color: #a9a9a9;
	text-decoration: none;
}

.game-time {
	font-family: "Times New Roman";
	font-size: 45px;
	text-align: center;
	line-height: 100px;
}

.game-board-container {
	padding-left: 10px;
}

.game-board {
	margin-top: 110px;
	width: 920px;
	height: 285px;
	background-color: #b2d000;
	border: 3px solid #fa4e0c;
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
}

.game-main-bank {
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	height:280px;
	text-align: center;
	padding-top: 100px;
	font-size: 16px;
	line-height: 32px;
}

.game-min-bet {
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	height:280px;
	text-align: center;
	padding-top: 100px;
	font-size: 16px;
	line-height: 32px;
}

.game-table {
	height: 280px;
	text-align: center;
}

.game-flop {
	text-align: center;
	margin-top: 80px;
}

.game-flop .card {
	background-color: transparent;//#fdb200;
	border: 2px solid transparent;/*#fdb200;*/
	-webkit-border-radius: 7px;
	   -moz-border-radius: 7px;
	        border-radius: 7px;
	display: inline-block;
	margin: 1px;
}

.game-flop .active {
	border-color: #fb4e0c;
}

.game-flop .hint {
	border-color: #4fafeb;
}

.game-flop .card img {
	height: 110px;
}

.game-message-container {
	position:relative;
	z-index: 60;
}

.game-message {
	position: absolute;
	top: 30px;
	left: -102px;
	padding: 20px;
	background-color: #fff;
	border: 3px solid #fa4e0c; 
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
	width: 450px;
	height: 180px;
	text-align: center;
}

.game-message img {
	height: 180px;
}

.game-message .text {
	margin-top: 0;
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	font-size: 16px;
	height: 145px;
}

.game-start .text {
	margin-top: 20px;
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	font-size: 18px;
	height: 100px;
}

.game-message .timer {
	margin-top: 5px;
	font-size: 11px;
	font-weight: bold;
}

.game-timer {
	font-size: 20px;
	padding-top: 10px;
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
}

.game-combinations0 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.game-combinations {
	text-align: center;
	margin-top: 195px;
	margin-bottom: 20px;
}

#bank, #bets, #min-bet {
	font-size: 28px;
}

.gamer1 {
	position: absolute;
	top: -30px;
	left: 40px;
}

.gamer2 {
	position: absolute;
	top: -390px;
	left: 40px;
}

.gamer3 {
	position: absolute;
	top: -390px;
	left: 338px;
}

.gamer4 {
	position: absolute;
	top: -390px;
	left: 640px;
}

.gamer5 {
	position: absolute;
	top: -30px;
	left: 640px;
}

.gamer-container {
	position: relative;
	text-align: left;
}

.gamer {
	position: absolute;
	width: 300px;
}

#gamer {
	position: absolute;
	top: -30px;
	left: 312px;
	width: 320px;
 }

.gamer-avatar {
	margin-right: 8px;
	height: 60px;
}

.gamer-avatar img {
	margin: 0;
	padding: 0;
	height: 55px;
	-webkit-border-radius: 28px;
	   -moz-border-radius: 28px;
	        border-radius: 28px;
}

.gamer-status {
	font-size: 15px;
	color: #b2d000;
}

.gamer-status.notready {
	color: #a9a9a9;
}

.gamer-name {
	font-size: 15px;
}

.gamer-title-container {
	padding-left: 23px;
}
.gamer-title {
	min-width: 170px;
	height: 55px;
	float:left;
}

.gamer-info {
	margin: 0;
	padding: 10px 0 0;
	font-size: 13px;
	height: 55px;
	float:left;
}

.gamer-info img {
	margin: 0 3px;
}

.gamer-chips {
	color: #4fafeb;
}

.gamer-bet {
	color: #fb4e0c;
}

.gamer-cards {
	text-align: center;
	height: 66px;
}

.gamer-cards .card {
	border: 2px solid transparent;//#fdb200;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;
	background-color: transparent;//#fdb200;
	margin: 1px;
	display: inline-block;
}

.gamer-cards .card img {
	height: 57px;
}

#gamer-cards {
	height: 95px;
}

#gamer-cards .card img {
	height: 85px;
}

.gamer-cards .card.choose {
	cursor: pointer;
}

.gamer-cards .active {
	border-color: #fb4e0c;
}

.gamer-cards .hint {
	border-color: #4fafeb;
}

.gamer-card-zoom {
	position: absolute;
	top: -220px; 
	left: 50%;
	margin-left: -62px;
	width: 124px;
	z-index: 80;
}

.game-winner {
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	position: absolute;
	width: 300px;
	text-align: center;
	font-size: 16px;
}

.winner1 {
	top: -55px;
	left: 18px;
}

.winner2 {
	top: -260px;
	left: 18px;
}

.winner3 {
	top: -260px;
	left: 320px;
}

.winner4 {
	top: -260px;
	left: 622px;
}

.winner5 {
	top: -55px;
	left: 622px;
}

.winner0 {
	top: -55px;
	left: 320px;
}

.winner {
	display: none;
}

.game-buttons-container {
	text-align: center;
	position: absolute;
	top: 122px;
	left: 17px;
}

.game-arrow {
	text-align: center;
	z-index: 10;
	margin-bottom: -5px;
}

.game-buttons {
	border: 3px solid #a9a9a9;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	padding: 5px 10px;
}

.game-buttons .btn {
	width: 99px;
}

.game-buttons .btn-buy {
	width: 150px;
}

#input_bet {
	margin-bottom: 0;
	border: 2px solid #fdb200;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	width: 50px;
	text-align: right;
}

.game-question-container {
	position: relative;
	z-index: 50;
}

.game-question {
	padding: 20px;
	background-color: #fff;
	border: 3px solid #fb4e0c; 
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
	position: absolute;
	width: 286px;
	height: 370px;
	top: -80px;
	left: -20px;
}

.game-question button {
	width: 120px;
}

.game-question a {
	cursor: pointer;
}

.question-body {
	text-align: left;
	height: 300px;
}

.question-body .title {
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	font-size: 18px;
	font-weight: bold;
	
}

.question-answer {
	margin: 15px 0;
	padding: 0;
	list-style: none;
	
}

.question-answer li {
	padding: 0 0 15px 30px;
}

.question-answer li i {
	cursor: pointer;
	margin-left: -30px;
	float: left;
	background: #c2c2c2;
	height: 20px;
	width: 20px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	
}

.question-body li i.active {
	background: #fb4e0c;
	height: 20px;
	width: 20px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	
}

.question-footer {
	text-align: center;
}

.question-footer a {
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	margin-left: 15px;
	font-weight: bold;
	border-bottom: 1px dashed #b2d000;
	color: #000;
	cursor: pointer;
}

.question-footer a:hover, .question-footer a:active {
	color: #b2d000;
	text-decoration: none;
	border-bottom: 0;
}

.question-footer a {
	margin-left: 25px;
	color: #000;
	border-bottom: 1px dashed #b2d000;
}

.question-timer {
	margin-top: 15px;
	font-size: 11px;
	font-weight: bold;
}

.question-times {
	margin-top: 15px;
	font-size: 11px;
	font-weight: bold;
	text-align: right;
}

.victorina-container {
	margin: 20px 20px;
}

.victorina-container .line1 {
	margin-left: 45px;
}

.victorina-container .line2 {
	margin-left: 0;
}
.victorina-container .line3 {
	margin-left: 45px;
}

.victorina-container .line4 {
	margin-left: 90px;
}

.victorina-container .line5 {
	margin-left: 45px;
}

.victorina-container .line6 {
	margin-left: 180px;
}

.victorina-container .question {
	display: inline-block;
	margin: 3px 1px;
}

.victorina-container .question.active {
	cursor: pointer;
}

.victorina-container .question img {
	width: 75px;
}

.victorina-text-container {
	position: relative;
}

.victorina-text-container .text {
	position: absolute;
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	font-size: 25px;
	line-height: 29px;
	top: -70px;
	left: 30px;
}

.victorina-message {
	margin: 100px 20px;
	text-align: center;
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	font-size: 40px;
	line-height: 43px;
}

#victorina-question {
	padding: 20px;
	background-color: #fff;
	border: 3px solid #b2d000; 
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
	position: fixed;
	width: 286px;
	height: 370px;
	top: 150px;
	left: 50%;
	margin-left: -143px;
}

.victorina-question-body {
	text-align: left;
	height: 280px;
}

.victorina-question-body .title {
	font-size: 18px;
	font-weight: bold;
	
}

.victorina-question-body li i.active {
	background: #fb4e0c;
	height: 20px;
	width: 20px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	
}

.victorina-question-footer {
	text-align: center;
}

.victorina-question-footer .btn {
	width: 120px;
	font-weight: bold;
}

.victorina-question-footer a {
	display: inline-block;
	font-family: 'Conv_Art. Lebedev Studio - ALSSchlangesans-Bold';
	margin-top: 35px;
	font-weight: bold;
	border-bottom: 1px dashed #b2d000;
	color: #000;
	cursor: pointer;
}

.victorina-question-footer a:hover, .victorina-question-footer a:active {
	color: #b2d000;
	text-decoration: none;
	border-bottom: 0;
}

